body {
  font-family: sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

table {
  border: 5px;
  border-color: black;
  border-width: 20px;
}

.FilaEmpleados {
  background-color: aquamarine;
  border: 5px;
  border-color: black;
  border-width: 20px;
}

